:root {
  --light: #b7c0cc;
  --dark: #202b40;
  --secondary: #3a545e;
  --tertiary: #474a4f;
  --primary: #c3ffde;
}

* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: var(--dark);
  color: var(--primary);
}

a {
  text-decoration: none;
  color: var(--dark);
  font-weight: bold;
  transition: color 0.1s;
}

a:hover {
  color: var(--secondary);
}

ol {
  list-style: none;
  margin-block-start: 0;
  padding-inline-start: 0;
}
button {
  background-color: var(--dark);
  border: 0;
  padding: 1%;
  color: #ffffff;
  font-weight: bold;
  transition: background-color 0.1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: var(--secondary);
}

.post-list {
  margin: 0;
  padding: 0;
}

textarea,
input {
  font-size: medium;
  font-family: sans-serif;
  padding: 0.75%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus,
input:focus {
  outline: none;
  border: 1px solid var(--secondary);
}

textarea {
  min-width: 80%;
  min-height: 150px;
}

form {
  padding: 3% 5%;
  margin: 1%;
  border-radius: 10px;
  color: var(--secondary);
  background-color: var(--primary);
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: var(--secondary);
}

header {
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3%;
}

header h1 {
  font-size: 3em;
}

nav {
  display: flex;
}

nav a,
button {
  padding: 1em;
}

main {
  flex: 1;
  padding: 2% 4%;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: var(--dark);
  font-size: 100%;
  font-weight: bold;
  transition: color 0.1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: var(--secondary);
}

.login-page {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.delete-post-btn {
  background-color: var(--tertiary);
}

.delete-post-btn:hover {
  background-color: var(--secondary);
}

.post {
  padding: 3% 5%;
  margin: 1%;

  border-radius: 10px;
  line-height: 150%;
  background-color: var(--primary);
}

.title {
  display: flex;
  justify-content: space-between;
}

.post .title {
  font-size: 1.5em;
  border-radius: 10px;
  padding: 2%;
  background-color: var(--secondary);
}

.post a {
  color: var(--primary);
}

.post .body {
  color: var(--secondary);
  font-size: 1.1em;
}

.post .meta {
  border-top: 1px solid var(--secondary);
}

.post .meta a {
  color: var(--secondary);
}

.edit-link {
  font-size: 0.6em;
}

.comment {
  padding: 2%;
  margin-bottom: 1%;
  font-style: bold;
  border-radius: 10px;
}

.comment:nth-child(odd) {
  background-color: var(--tertiary);
}

.comment:nth-child(even) {
  background-color: var(--dark);
}

.comment .meta {
  font-size: 90%;
  margin-bottom: 0.5%;
  opacity: 0.6;
}

/* .new-post-form {
  margin-left: 3em;
} */

.new-post-form input {
  width: 300px;
}

.edit-post-form {
  margin-bottom: 5%;
}

footer {
  border-top: 1px solid var(--primary);
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
  color: var(--primary);
}
